body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
    font-family: Arial, sans-serif;
}

/* container in het midden */
.container {
    text-align: center;
}

/* titel */
h1 {
    color: white;
    margin-bottom: 20px;
}

/* som */
#som {
    font-size: 40px;
    background-color: #306eac;
    padding: 20px;
    margin: 20px auto;
    display: block;
    color: white;
    width: fit-content;
}

/* knoppen */
button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #34495e;
    color: white;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

/* hover effect */
button:hover {
    background-color: lightblue;
    color: black;
}

/* resultaat tekst */
#resultaat {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}