body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a0bd8;
    font-family: Arial, sans-serif;
}

/* container in het midden */
.container {
    text-align: center;
}

/* titel */
h1 {
    color: rgb(238, 233, 233);
    margin-bottom: 20px;
}

/* som */
#som {
    font-size: 40px;
    background-color: #306eac;
    padding: 20px;
    margin: 20px auto;
    display: block;
    color: white;
    width: fit-content;
}

/* knoppen */
button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #34495e;
    color: white;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
}

/* hover effect */
button:hover {
    background-color: lightblue;
    color: rgb(20, 1, 1);
}

/* resultaat tekst */
#resultaat {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}
#time {
    font-size: 30px;
    margin: 10px;
    color: white;
}

.bar {
    width: 100%;
    height: 20px;
    background: #0f0f0f;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}

#progress {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, green, yellow, red);
    transition: width 1s linear;
}
h2 {  color: rgb(238, 233, 233);
    margin-bottom: 20px;
}
    